# Port number
PORT=3000

# Barer Token
BEARER_TOKEN=

# Env type
NODE_ENV=development

# Northwest acess tokens
NORTHWEST_ACCESS_KEY=
NORTHWEST_SECRET_KEY=

# Newrelic acess token
NEW_RELIC_API_KEY=
NEW_RELIC_ENDPOINT=https://log-api.newrelic.com

# JWT
# JWT secret key
JWT_SECRET=

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
